nav {
  display: flex;
  justify-content: space-between;
  padding: 14px 18px;
  background-color: #3A9BDC;
  color: whitesmoke;
}

body > header { 
  padding: 0 0.5rem .75rem 0.5rem;
  background-color: #3A9BDC;
  color: whitesmoke;
}

body {
  grid-template-columns: 10% 80% 10%;
}
nav .a{
  color: whitesmoke;
}

header .h1{
  color: whitesmoke;
}

.form-control {
  width: 50%;
}

.h1 {
  color: rgb(51, 51, 51);
}

.input{
  background-color: #3A9BDC;
}

.listingsgrid {
  padding: 20px;
  border-width: 1px;
  border-style: solid;
  margin: 5px;
}

.active_listing {
  
}

.watchlist_button{
  background-color: rgb(118, 117, 117);
  padding: 15px 25px;
  text-decoration: none;
}

.watchlist_button:hover{
  background-color: #a4a4a4;
}