nav {
  display: flex;
  justify-content: space-between;
  padding: 14px 18px;
  background-color: #3A9BDC;
  color: whitesmoke;
}
.span{
  color: whitesmoke;
}

body > header { 
  padding: 0 0.5rem .75rem 0.5rem;
  background-color: #3A9BDC;
  color: whitesmoke;
}

body {
  grid-template-columns: 10% 80% 10%;
}
nav .a{
  color: whitesmoke;
}

header .h1{
  color: whitesmoke;
}

.form-control {
  width: 50%;
}

main > h1 {
  text-align: center;
}

.input{
  background-color: #3A9BDC;
}

.listingsgrid {
  padding: 20px;
  border-width: 3px;
  border-style: solid;
  border-color: #3A9BDC;
  margin: 5px;
  border-radius: 10px;
  overflow: auto;
}

.active_listing, .create_listing{
  margin: auto;
  width: 50%;
  border: 3px solid #3A9BDC;
  padding: 30px;
  border-radius: 10px;
  overflow: auto;
}

.l_img {
  width: 300px;
  float: right;
  overflow: auto;
}

.categories{
  text-align: center;
  width: 100%;
}

.article{
  border: none;
  border-radius: 10px;
}

.commentgrid {
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #3A9BDC;
  margin: 5px;
  border-radius: 10px;
}

.success { 
  color:rgb(9, 165, 9);
  text-align: center;
}

.errorlist, .error {
  color: rgb(211, 40, 40);
  text-align: center;
}