{% extends "auctions/layout.html" %}

{% block main %}
<h1>Create Listing</h1>
<form action="{% url 'create_listing' %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <!-- <label for="item_name">Item: </label>
    <input id="item_name" name="item_name">
    <label for="price">Price: </label>
    <input id="price" name="price">
    <label for="tag">Category: </label>
    <select id="tag" name="tag">
        {% for c in categories %} 
         <option value="{{c.id}}">{{category}}</option> 
         {% endfor %}
    </select>
    <label for="description">Description: </label>
    <textarea rows="5" cols="80" id="tag" name="tag"> </textarea> -->

    <input type="submit" value="submit">
</form>

{% endblock %}