{% extends "auctions/layout.html" %}

{% block main %}
<h2>Active Listings</h2>

<article>
    {% for l in listings %}
    {% if l.sold == False %}
    <div class="listingsgrid">

        {% for m in message %}
      <h2>{{m}}</h2>
      {% endfor %}

        <a href="{% url 'listing' l.id %}">
            <h4>{{ l.item_name }}</h4>  </a>
            <p>Price: {{ l.price }}</p>
            <p>Description: {{ l.description }}</p>
            <p>{{ l.img }}</p>
            {% if l.img %}
            <div style="display:flex;justify-content:space-evenly;">
                <img src="{{ l.img.url }}" width="200px">
              </div>
                {% endif %}
    
            </div>
    {% endif %}
    {% endfor %}
</article>
{% endblock %}