{% extends "auctions/layout.html" %}

{% block main %}
<h1>Active Listings</h1>

<article class="article">
    {% for l in listings %}
    {% if l.sold == False %}
    <div class="listingsgrid">

        {% for m in message %}
      <h2>{{m}}</h2>
      {% endfor %}
      {% if l.img %}
      <div class="l_img">
          <img src="{{ l.img.url }}">
        </div>
        
          {% endif %}
        <a href="{% url 'listing' l.id %}">
            <h4>{{ l.item_name }}</h4>  </a>
            
            <p><strong>Price: </strong>{{ l.price }}</p>
            <p><strong>Description: </strong> {{ l.description }}</p>
    
            </div>
    {% endif %}
    {% endfor %}
</article>
{% endblock %}