{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Auctions{% endblock %}</title>
        <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
        <link rel="stylesheet" href="{% static 'auctions/uaa490styles.css' %}" >
        <link rel="stylesheet" href="{% static 'auctions/node_modules/basiclightbox/dist/basicLightbox.min.css' %}"> 
    </head>
    <body>
        <header>
            <h1>Auctions "R" Us</h1>
            <nav>
                <span>
                    <a href="{% url 'index' %}">Active Listings <span id="active_listings"></span></a>
                    <a href="{% url 'categories' %}">Categories</a>
                    <a href="{% url 'watchlist' %}">Watchlist <span id="total_watchlisted"></span></a>
                    <a href="{% url 'create_listing' %}">Create Listing</a>
                </span>
                <span>
                    {% if user.is_authenticated %}
                        Welcome <strong>{{ user.username }}!</strong>
                        <a href="{% url 'logout' %}">Log Out</a>
                    {% else %}
                        <a href="{% url 'login' %}">Log In</a>
                        <a href="{% url 'register' %}">Register</a>
                    {% endif %}
                </span>
            </nav>
        </header>
        <main>
            {% block main %}
            {% endblock %}
        </main>
        <script src="{% static 'auctions/node_modules/basiclightbox/dist/basicLightbox.min.js' %}"></script>
        <script src="{% static 'auctions/script.js' %}"></script> 
        <script>
            const imageInstance = document.createElement('div')
            const image_to_show = document.createElement('img')
            image_to_show.src = `${this.l_img.src}`
            imageInstance.appendChild(image_to_show)
            const instance = basicLightbox.create(imageInstance)
            document.querySelector('img.l_img').onclick = instance.show
        </script>

    </body>
</html>
