{% extends "auctions/layout.html" %}


{% block main %}
<h1> My watchlist </h1>

{% for m in messages %}
      <h4 class="{{m.tags}}">{{m}}</h4>
{% endfor %}
{% if user.is_authenticated %}
{% for listings in watchlist %}
{% if listings.sold == False %}
<div class="active_listing">
    <img src="media/images/favorite.png" class="fav_image"  onclick='watchlist_toggle("{{listings.id}}")'>

    <a href="{% url 'listing' listings.id %}"><h3>{{listings.item_name}}</h3></a>

    <img src="{{ listings.img.url }}" class="l_img">
    <p>{{ listings.description }}</p>
    <ul><strong>Current price: </strong> {{ listings.price }}</ul>
    <ul><strong>Date posted: </strong> {{ listings.date_created }}</ul>
    <a href="{% url 'remove_from_watchlist' listings.id %}"><button>Remove from Watch List</button></a>
</div>
{% endif %}
{% endfor %}
{% endif %}

<script>
    function watchlist_toggle(listing_id) {
      fetch(`api_save_to_watchlist/${listing_id}`)
        .then((response) => {
          return response.json();
        })
        .then((data) => {
          console.log(data);
          update_icon(data);
        });
    }
  
    function update_icon(data) {
      newstate = data.curr_value;
      filename = `media/images/${newstate}.png`;
      document.querySelector(".fav_image").src = filename;
    }
  
  </script>

{% endblock %}