{% extends "auctions/layout.html" %}


{% block main %}
<h1> My watchlist </h1>

{% for m in messages %}
      <h4 class="{{m.tags}}">{{m}}</h4>
{% endfor %}
{% if user.is_authenticated %}
{% for listings in watchlist %}
{% if listings.sold == False %}
<div class="active_listing">
<a href="{% url 'listing' listings.id %}"><h3>{{listings.item_name}}</h3></a>
    {% if listings.img %}<img src="{{ listings.img.url }}" class="l_img">{% endif %}
    <p>{{ listings.description }}</p>
    <ul><strong>Current price: </strong> {{ listings.price }}</ul>
    <ul><strong>Date posted: </strong> {{ listings.date_created }}</ul>
    <a href="{% url 'remove_from_watchlist' listings.id %}"><button>Remove from Watch List</button></a>
</div>
{% endif %}
{% endfor %}
{% endif %}



{% endblock %}